* {
    padding: 0;
    margin: 0;
}
.magnifying-glass {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg-wrapper {
        width: 100%;
        height: 80%;
        .bg {
            width: 100%;
            height: 100%;
        }
    }

    .glass-wrapper {
        position: absolute;
        .glass-mask {
            position: absolute;
            .big-img-wrapper {
                position: absolute;
                width: 370px;
                height: 370px;
                overflow: hidden;
                .big-img {
                    position: absolute;
                }
            }

            .glass-select-box {
                position: absolute;
            }
        }
    }
}